{% load static %}

<div class="card">
    <div class="card-image">
{#        <img src="{{ post.author.profile.image.url }}" alt="{% static 'csgo.jpg' %}">#}
        <img src="{% static 'csgo.jpg' %}" >
        <span class="card-title"><a class="article-title white-text "
                                    href="{% url 'post-detail' post.id %}">{{ post.title }}</a></span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                class="material-icons">add</i></a>
    </div>
    <div class="card-content">
        <div class="row"><p class="left ">{{ post.enrolled|length }} enrolled</p> <p class="right">{{ post.likers|length }} liked</p></div>
        <span>   </span>
      <span>
            <p class="">{{ post.content }}</p>
<!--        <p class=" ">{{ post.location }}</p>-->
<!--        <p class="">{{ post.totrating }}</p>-->
      </span>


    </div>
</div>