{% load static %}

<div class="card">
    <div class="card-image">
        <img src="{{ post.image.url }}" >
        <span class="card-title"><a class="article-title white-text "
                                    href="{% url 'post-detail' post.id %}">{{ post.title }}</a></span>
    </div>
    <div class="card-content">
        <div class="row"><p class="left ">Enrolled Students:{{ post.enrolled.count }} </p> <p class="right">Liked By:{{ post.likers.count }} </p></div>
      <span>
            <p class="">{{ post.content|truncatechars:30 }}</p>
      </span>
        <span>
        <p>Tags:
            {% for tag in post.tags.all%}
                #{{ tag.slug }} ,
            {% endfor %}
        </p>
        </span>

    </div>
</div>