<style>
label { margin: 0; padding: 0; }
body{ margin: 20px; }

.rating-container { 
  border: none;
  float: left;
}
.rating-container > input { display: none; } 
.rating-container > label:before { 
  margin:1px;
  font-size:20px;
  display: inline-block;
  content: "★";
}
.rating-container > label { 
  color: #ddd; 
  float: right; 
 }

.rating-container label:last-of-type:before{
  content:"\2605";
  color: rgba(0,0,0,0);
}
.rating-container > input:checked ~ label, 
.rating-container:not(:checked) > label:hover,
.rating-container:not(:checked) > label:hover ~ label { color: gold;  }

.rating-container > input:checked + label:hover, 
.rating-container > input:checked ~ label:hover,
.rating-container > label:hover ~ input:checked ~ label, 
.rating-container > input:checked ~ label:hover ~ label { color: #FFED85; }

</style>


<script src="script-rate.js"></script> 


<h1>Ratings</h1>

<div class="rating-container">
    <input type="radio" id="rating-5" name="rating" value="5" />
    <label for="rating-5"></label>
    <input type="radio" id="rating-4" name="rating" value="4" />
    <label for="rating-4"></label>
    <input type="radio" id="rating-3" name="rating" value="3" />
    <label for="rating-3"></label>
    <input type="radio" id="rating-2" name="rating" value="2" />
    <label for="rating-2"></label>
    <input type="radio" id="rating-1" name="rating" value="1" />
    <label for="rating-1"></label>
    <input type="radio" id="rating-0" name="rating" value="0" />
    <label for="rating-0"></label>
  </div>
<br>
<div class="count">
  <p class="rating">0</p>  
</div>
