{% if user.is_authenticated %}
<form action="{% url 'enroll'%}" method="post">
    {% csrf_token %}
    {% if not is_enrolled %}
    <button name="post_id" id="enrollButton" class="btn btn-primary" value="{{post.pk}}" type="submit"> EnRoll</button>
    {% else %}
    <button name="post_id" id="enrollButton" class="btn btn-danger" value="{{post.pk}}" type="submit"> EnRolled</button>
    <div class="container">
        <div class="row">
            <h2>Now you can Watch Tutorial</h2>
        </div>
        <div class="">
            {% include 'snippets/starRating.html' %}
        </div>
    </div>
    <div>
        <a href="{% url 'write-review' post.pk %}">
            <button class="btn btn-success">Write Review</button>
        </a>
    </div>

    {% endif %}
</form>
{% else %}
<form></form>
{% endif %}
