{% extends "Blog/base.html" %}
{% load static %}
{% block content %}

    <style>

        #main-container {
            padding: 4%;
        }

        .member {
            padding: 30px;
        }


        #trendingPost {
        {#width: 100vw !important;#}{#height:60vh !important;#}
        }

        .tt {
            max-width: 40vw !important;
        }


    </style>
    <div id="trendingPost" class="row">
        {#        <div class="col s12 ">#}

        <div id="trendingPost" class="carousel carousel-slider">
            {% for post in posts %}
                <div class="tt carousel-item ">

                    <div class="">
                        {% include 'snippets/courseCard.html' %}
                    </div>

                </div>
            {% endfor %}

        </div>

        {#        </div>#}
    </div>
    <div class="container">
        <div id="recentPost" class="row">
            <div class="col s12">
                <h1>Recent Courses</h1>
            </div>
            {% for post in posts %}
                <div class="col s12 l4">
                    {% include 'snippets/courseCard.html' %}
                </div>
            {% endfor %}

        </div>
        <div id="New Post" class="row">
            <div class="col s12">
                <h1>Popular Courses</h1>
            </div>
            {% for post in posts %}
                <div class="col s12 l4">
                    {% include 'snippets/courseCard.html' %}
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock content %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#trendingPost').carousel({
                fullWidth: false
            });
        });
    </script>

{% endblock script %}